@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

::-webkit-scrollbar {
      width: 8px;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
      background: #f1f1f1; 
    }
     
    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: #ffc107; 
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: #fd7e14; 
    }
*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}
body{
      margin: 0;
      background: linear-gradient(120deg, #f6d365, #fda085);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      overflow-y: scroll;
      font-family: 'Ubuntu',Arial, Helvetica, sans-serif !important;
      min-height: 100vh;
}

.div-todo{
      width: 600px;
      float: left;
}
.todo-header{
      font-size: 2.5rem;
      font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
}
.todo-header,form{
      min-height: 10vh;
      display: flex;
      /* justify-content: center; */
      align-items: center;
      padding-top: 20px;
      text-align: left;
      padding-left: 20px;
}
.todo-form input, .todo-button{
      padding: 0.5rem;
      font-size: 2rem;
      border: none;
      background: #fff;
      border-radius: 0px 10px 10px 0px;
}
.todo-form input{
      width: 300px;
      border-radius: 10px 0px 0px 10px;
}
.todo-form{
      height: 60px;
}
.todo-input::placeholder{
      font-size: 24px;
}
.todo-button{
      color: #d88771;
      background: #fff;
      cursor: pointer;
      transition: all 0.3s ease;
}
.todo-button:hover{
      background: #d88771;
      color: #fff;
}
.todo-container{
      display: flex;
      justify-content: center;
      align-items: center;
}
.todo-list{
      min-width: 30%;
      list-style: none;
      width: 80%;
      margin-top: 30px;
}
.todo{
      margin: 0.5rem;
      background: #fff;
      color: #000;
      font-size: 1.5rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      transition: all 0.5s ease;
}
.todo li{
      flex: 1;
}
.trash-btn, .complete-btn{
      color: #fff;
      background: #ff6f47;
      border: none;
      padding: 1rem;
      cursor: pointer;
      font-size: 1rem;
}
.complete-btn{
      background: rgb(73, 204, 73);
}
.todo-item{
      padding: 0rem .5rem;
}
.fa-trash,
.fa-check{
      pointer-events: none;
}

.completed{
      text-decoration: line-through;
      opacity: .5;
}
.fall{
      transform: translateY(8rem) rotateZ(20deg);
      opacity: 0;
}


.filter-todo{
      -webkit-appearance: none;
      -moz-appearance: none;
      outline: none;
      appearance: none;
      border: none;
}
.todo-select{
      margin: 1rem;
      position: relative;
      overflow: hidden;
}
.filter-todo{
      color: #ff6f47;
      width: 10rem;
      cursor: pointer;
      padding: 1rem;
}
.todo-select::after{
      content: "\25BC";
      position: absolute;
      background: #ff6f47;
      top: 0;
      right: 0;
      padding: 1rem;
      pointer-events: none;
      transition: all .3s ease;
}
.todo-select:hover::after{
      background: #fff;
      color: #ff6f47;
}




.noteHeader{
      text-align: center;
      border-bottom: 2px dashed #B0B0B0;
      margin: 20px 0px;
      font-family: "Ubuntu", Arial, Helvetica, sans-serif;
}

.title-nothing{
      font-size: 30px;
      font-weight: bold;
}

/* ---------------------------------------------------------------------- */
/* ---------------------------------Dark Mode---------------------------- */
/* ---------------------------------------------------------------------- */
.ab{
      max-height: 60px;
}
.dark-label{
      background: #111;
      display: flex;
      border-radius: 50px;
      justify-content: space-between;
      padding: 5px;
      height: 26px;
      width: 50px;
      position: relative;
}
.fa-moon{
      color: #f1c40f;  
}
.fa-sun{
      color: #f39c12;
}
.dark-ball{
      width: 22px;
      height: 22px;
      background: #fff;
      position: absolute;
      top: 2px;
      left: 2px;
      border-radius: 50%;
      transition: transform .2s linear;
}
.dark-checkbox{
      opacity: 0;
      position: absolute;
}
.dark-checkbox:checked + .dark-label .dark-ball{
      transform: translateX(24px);
}


.dark-mode{
      background: #292c35;
}
.dark-mode .note-dark{
      color: #B0B0B0;
      background: #292c35;
      
}
.dark-mode .dark-shadow{
      box-shadow: 1px 2px 10px #fff;
}
.dark-mode .dark-shadow-1{
      box-shadow: 1px 1px 5px #fff;
}


/* Note Secions */
.div-note{
width: 800px;    
float: right;
}
.wrapper{
      display: inline-block;
      width: 100%;
}

@media only screen and (max-width: 1400px){
      .div-note{
            width: 600px;    
            }
}
@media only screen and (max-width: 1400px){
      .div-note{
            width: 600px;
            float: left;    
            }
}